/MegaScenes/
/train_ready_data/
wandb/
/outputs/
/experimental_output/
/splits/
/checkpoints/
/css/logs/
/sample.png
/holdnode.out
/mysore_palace_dreambooth_*
GEN3C/
Coupled-Diffusion
work_dirs/
#stable-virtual-camera
*.gradio_tmp
/vulcanscratch/ltahboub/CoupledSceneSampling/stable-virtual-camera/.gradio
.claude
24*
old
pose_sd*/
logs
images_index.parquet
**/__pycache__/
*.py[cod]
holdnode.err
*.core
packed_triplets/megascenes_k3/scenes/*/*
packed_triplets/megascenes_k3/tmp_scenes/*/*
reports/*