/MegaScenes/
/train_ready_data/
wandb/
/mysore_palace_dreambooth_*
GEN3C/
Coupled-Diffusion
work_dirs/
#stable-virtual-camera
gradio_tmp
.claude
24*
old
pose_sd*/
logs
stable-virtual-camera
images_index.parquet
**/__pycache__/
*.py[cod]
holdnode.err
*.core
packed_triplets/megascenes_k3/scenes/*/*
packed_triplets/megascenes_k3/tmp_scenes/*/*